.connect4-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.connect4-opponent {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	&__button {
		border-radius: 0;
		border: 2px solid var(--color-primary);
		background-color: transparent;
		color: var(--color-primary);
		font-weight: bold;

		&:first-child {
			border-radius: 5px 0 0 5px;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
		}

		&:hover:not(&--selected) {
			background-color: var(--color-primary-lightest);
		}

		&--selected {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}
}

.connect4-dashboard {
	display: flex;
	align-items: center;
	justify-content: space-between;

	align-self: stretch;
}

.connect4-board {
	display: flex;

	background-color: var(--color-primary);

	border: 2px solid #111111;
	border-radius: 10px;
	margin-bottom: 2rem;
}

.connect4-column {
	&:hover {

		background-color: var(--color-primary-light);
	}
}

.connect4-cell {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10rem;
	height: 10rem;
}

.piece {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2rem;

	width: 75%;
	height: 75%;
	border-radius: 50%;

	&--empty {
		background-color: var(--color-white);
	}

	&--red {
		background-color: var(--color-c4-red);
		color: var(--color-white);
	}

	&--yellow {
		background-color: var(--color-c4-yellow);
	}
}
