.connect4-opponent {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	&__button {
		border-radius: 0;
		border: 2px solid var(--color-primary);
		background-color: transparent;
		color: var(--color-primary);
		font-weight: bold;

		&:first-child {
			border-radius: 5px 0 0 5px;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
		}

		&:hover:not(&--selected) {
			background-color: var(--color-primary-lightest);
		}

		&--selected {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}
}
