.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.board {
	display: flex;
	margin-bottom: 2rem;
}

.column {
	background-color: var(--color-primary);

	&:hover {
		background-color: var(--color-primary-light);
	}
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10rem;
	height: 10rem;

	&--floating {
		background-color: var(--color-white);
	}
}

.piece {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2rem;

	width: 75%;
	height: 75%;
	border-radius: 50%;

	&--floating {
		border: 3px solid var(--color-primary);
		color: var(--color-primary);
		font-size: 3rem;
		font-weight: bold;

		transition: color 0.1s linear background 0.1s linear;

		&:hover {
			background: var(--color-primary);
			color: var(--color-white);
		}

		&--hidden {
			visibility: hidden !important;
			height: 0;
		}
	}

	&--empty {
		background-color: var(--color-white);
	}

	&--red {
		background-color: var(--color-c4-red);
		color: var(--color-white);
	}

	&--yellow {
		background-color: var(--color-c4-yellow);
	}

	&--toot-n-otto {
		background-color: var(--color-white);
		color: var(--color-primary);
		font-size: 3rem;
		font-weight: bold;
	}
}

.dashboard {
	display: flex;
	align-items: center;
	justify-content: space-between;

	align-self: stretch;
}

.opponent {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	&__button {
		border-radius: 0;
		border: 2px solid var(--color-primary);
		background-color: transparent;
		color: var(--color-primary);
		font-weight: bold;

		&:first-child {
			border-radius: 5px 0 0 5px;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
		}

		&:hover:not(&--selected) {
			background-color: var(--color-primary-lightest);
		}

		&--selected {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}
}

.piece-counts {
	&__container {
		display: flex;
		justify-content: space-between;
		align-self: stretch;

		margin-bottom: 2rem;
	}
}

// Start of Large Tablet
@media screen and (max-width: $bp-m) {
	.container {
		width: min-content;
	}

	.cell {
		width: 14vw;
		height: 14vw;
	}
}