.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--color-white);

	padding-left: 4rem;
	padding-right: 4rem;

	height: 8rem;
	width: 100%;

	background-color: var(--color-primary);

	button {
		margin-left: 1rem;
	}

	&__links {
		display: flex;
	}
}
