.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	color: var(--color-white);

	padding-left: 4rem;
	padding-right: 4rem;

	height: 8rem;
	width: 100%;

	background-color: var(--color-primary);

	button {
		margin-left: 1rem;
	}

	&__links {
		display: flex;
	}
}

// Start of Medium Tablet
@media screen and (max-width: $bp-m) {
	.navbar {
		justify-content: center;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
